<nav id="my-menu">
  <div>
    <div class="logo">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/phuud.jpg"></a>
	  &nbsp; {{ site.title }}
    </div>
    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> 主页 @Home</a></li>
      <li><a href="{{ site.baseurl }}/posts/"><i class="fa fa-archive"></i> 归档 @Archive</a></li>
      <li><a href="{{ site.baseurl }}/search/"><i class="fa fa-search"></i> 搜索 @Search</a></li>
      <li><a href="{{ site.baseurl }}/about/"><i class="fa fa-info-circle"></i> 关于 @About</a></li>		  
    </ul>
    <p class="links">
      {% if site.twitter_username %}<a href="http://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
      {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
      {% if site.google_plus_link %}<a href="{{ site.google_plus_link }}" target="_new"><i class="fa fa-google-plus"></i></a>{% endif %}
      {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
      {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
	  {% if site.bangumi_link %}<a href="{{ site.bangumi_link }}" target="_new"><i class="fa fa-film fa"></i></a>{% endif %}
	  {% if site.instagram_username %}<a href="http://www.instagram.com/{{ site.instagram_username }}" target="_new"><i class="fa fa-instagram"></i></a>{% endif %}
      <!--<a href="http://www.jacobtomlinson.co.uk/feed.xml" target="_new"><i class="fa fa-rss"></i></a> rss订阅-->
    </p>
	<p class="about">
	&copy; 2015. All rights reserved.
	</p>
  </div>
</nav>
<div class="home-button" ><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i></a></div>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>